@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {margin: 0; padding: 0; border: 0;}

body {
  border-top: 10px solid black;
  background: white;
  color: #000;
}

h1 {
  clear: both;
  padding-top: 50px;
  text-align: center;
  font: normal 150px/1.5 BebasNeueRegular;
  -webkit-animation: 3s bulge infinite;
  -moz-animation: 3s bulge infinite;
}

h1 .small {
  font-size: .7em;
  line-height: .95em;
  border-top: .17em solid #000;
  display: inline-block;
  margin-left: -.15em;
}

h1 .small .second {
  border-top: .05em solid #000;
  display: inline-block;
  margin-top: .02em;
}

nav {
  float: right;
  margin-top: 10px;
}
nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
}

nav a {
  display: block;
  float: left;
  margin-right: 10px;
}

#twitter a {
  width: 25px;
  height: 21px;
  background: url(images/twitter-logo.png);
  text-indent: -9999px;
  overflow: hidden;
}

#youtube a {
  width: 60px;
  height: 22px;
  background: url(images/youtube-logo.png);
  text-indent: -9999px;
  overflow: hidden;
}

footer {
  font: 20px/1.2 'Oxygen', sans-serif;
  color: #222;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  padding-bottom: 40px;
}

@-webkit-keyframes bulge {
  50% {
    font-size: 160px;
  }

  0%, 100% {
    font-size: 150px;
  }
}

@-moz-keyframes bulge {
  50% {
    font-size: 160px;
  }

  0%, 100% {
    font-size: 150px;
  }
}