@font-face {
  font-family: BebasNeue;
  src: url("BebasNeue.otf") format("opentype");
}

body {
  text-align: center;
  padding: 40px 0;
}

h1 {
  font: normal 150px/1.5 BebasNeue;

  -webkit-animation: 2s bulge infinite;
}

h1 a {
  color: #000;
  text-decoration: none;
}

h1 .small {
  font-size: .7em;
  line-height: .95em;
  border-top: .17em solid #000;
  display: inline-block;
  margin-left: -.15em;
}

h1 .small .second {
  border-top: .05em solid #000;
  display: inline-block;
  margin-top: .02em;
}

p {
  font: 20px/1.2 'Oxygen', sans-serif;
  color: #222;
}

@-webkit-keyframes bulge {
  50% {
    font-size: 160px;
  }

  100% {
    font-size: 150px;
  }
}