.App {
  align-items: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  position: relative;
}

.App-content {
  display: flex;
  width: 100%;
  justify-content: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  flex: none;
  width: 255px;
  margin-right: 3em;
}

.App-headerFixed {
  position: fixed;
  top: 30px;
}

.App-body {
  padding-bottom: 6em;
  margin-top: 50px;
  flex: none;
  width: 550px;
  margin-right: 3em;
}

.App-social {
  margin-top: 50px;
  height: 30px;
  flex: none;
  width: 160px;
}

.App-footer {
  margin-top: -2em;
  font-size: 13px;
  padding: 2em 0;
  text-align: center;
  width: 100%;
}

.App-topBar {
  border-top: 10px solid black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
