* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: #fff;
  color: #000;
  font-size: 16px;
  font-family: 'Cabin', sans-serif;
}

h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

p {
  margin-bottom: 1em;
  line-height: 1.6;
}

.AppRoot {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../fonts/BebasNeue-webfont.eot');
  src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BebasNeue-webfont.woff') format('woff'),
       url('../fonts/BebasNeue-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
