.SocialItem {
  margin-right: 7px;
  flex: none;
  height: 34px;
}

.SocialItem-link {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 34px;
}
