.Contact {
  width: 100%;
}

.Contact-form {
  display: flex;
  flex-direction: column;
}

.Contact-input,
.Contact-textbox {
  border: 1px solid rgba(0, 0, 0, .6);
  font-family: Cabin, sans-serif;
  font-size: 14px;
  margin-bottom: 1em;
  padding: 1em;
}

.Contact-textbox {
  min-height: 300px;
}

.Contact-input:focus {
  outline: none;
}

.Contact-footer {
  display: flex;
}

.Contact-submit {
  background: black;
  color: white;
  cursor: pointer;
  min-width: 120px;
  margin-left: auto;
  padding: 10px;
  text-align: center;
}
