.Releases {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
}

.Release {
  display: flex;
  margin-bottom: 2em;
}

.Release-title {
  line-height: 1.3;
}

.Release-imageLink {
  margin-right: 2em;
}

.Release-image {
  max-width: 200px;
  min-width: 100px;
}
